html, body, #map {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 17px;
}

label, select {
    font-family: "Arial";
    margin-top: 0.5%;
}

#map {
    height: 95%;
}

#map-controls {
    height: 5%;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #FBCE07;
    color: #DD1D21;
}

#basemapSelector-wrapper {
    position: absolute;
    /*top: 10px;*/
    top: 6%;
    right: 10px;
    z-index: 10;
    background: white;
    padding: 10px;
}

#basemapSelector {
    margin-bottom: 5px;
}
